.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


  .title {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-size: 20px;
  } 

  .search-box {
    width: 95%;
    padding: 8px 12px; 
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s ease;
  }

  .search-box:focus {
    border-color: lightblue;
    box-shadow: 0 0 0 1px lightblue;
  }

  .list-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .list-group-item {
    padding: 8px 12px;
    margin-bottom: 8px;
    background-color: white;
    border-color: black;
    border-radius: 4px;
    color: black;
    font-size: 14px;
  }

  .list-group-item:hover {
    background-color: lightgrey;
  }
}