.profile-card {
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px auto;
    background-color: white;
}

h2 {
    font-size: 24px;
    text-align: center;
}

p {
    font-size: 16px;
}

h3 {
    font-size: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 5px 0 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;

}